@model ProyectoAplicacion.Entities.Registros

@{
    ViewBag.Title = "Confirmar Compra";
    Layout = "~/Views/Shared/Internal_LayoutNoFooter.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmarCompra</title>
</head>
<body>
    @using (Html.BeginForm("ConfirmarCompra", "Registro", FormMethod.Post))
    {

        <div class="form-horizontal">
            <h4>Registros</h4>
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ID_COMPRA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ID_COMPRA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ID_COMPRA, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <b>CÉDULA:</b>
            <div class="form-group form-inline">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.CEDULA_CLIENTE, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                </div>
            </div>

            <b>NOMBRE COMPLETO:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NOMBRE_CLIENTE, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                </div>
            </div>

            <b>CORREO:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CORREO, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                </div>
            </div>

            <b>TELÉFONO:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                </div>
            </div>


            <b>MÉTODO PAGO:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_METODO, new { htmlAttributes = new { @class = "form-control", @style = "width:100px" } })
                </div>
            </div>

            <b>ID EMPLEADO:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_EMPLEADO, new { htmlAttributes = new { @class = "form-control", @style = "width:100px" } })
                </div>
            </div>

            <b>TOTAL COMPRA:</b>
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TOTAL_COMPRA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirmar Compra" class="btn btn-default" style="background-color: green; color: white" />
                </div>
            </div>
        </div>

    }

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
</body>
</html>
