@model IEnumerable<ProyectoAplicacion.Entities.Inventario>

@{
    ViewBag.Title = "Vista de Inventario";
    Layout = "~/Views/Shared/Internal_LayoutNoFooter.cshtml";
}

<h2>VER INVENTARIO</h2>

<head>
    <!--
    <script src="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
    <script src="//cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"></script>
        -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

@*RAZOR*@

<table id="tbInventario" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad Disponible</th>
            @*<th>url</th>*@
            <th>Servicio</th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> <div class="form-group" style="text-align: center; readonly">@item.ID_PRODUCTO </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">@item.DESCRIPCION </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">₡ @item.PRECIO </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">@item.CANTIDAD_DISPONIBLE </div></td>
                @*<td> <div class="form-group" style="text-align: center; readonly">@item.URL_IMAGE </div></td>*@
                <td> <div class="form-group" style="text-align: center; readonly">@item.ID_SERVICIO </div></td>

                <!--<td>@Html.TextBoxFor(Model => item.ID_PRODUCTO, new { @class = "form-control", @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(Model => item.DESCRIPCION, new { @class = "form-control", @readonly = "readonly" })</td>
                <td>₡ @Html.TextBoxFor(Model => item.PRECIO, new { @class = "form-control", @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(Model => item.CANTIDAD_DISPONIBLE, new { @class = "form-control", @readonly = "readonly" })</td>-->
                @*<td>@Html.TextBoxFor(Model => item.URL_IMAGE, new { @class = "form-control", @readonly = "readonly" })</td>*@
                <!--<td>@Html.TextBoxFor(Model => item.ID_SERVICIO, new { @class = "form-control", @readonly = "readonly" })</td>-->
                @*<td>@Html.TextBoxFor(Model => Model.FirstOrDefault().CANTIDAD, new { @class = "form-control" })</td>*@
                @*<td><input type="text" id="CANTIDAD" value="1">  </td>*@

                <td>

                    <div class="form-group form-inline" style="text-align: center;">
                        @Html.ActionLink("Eliminar", "EliminarProducto", new
                             { ID_PRODUCTO = item.ID_PRODUCTO }, new { @class = "form-control", @style = "width:80px;height:25px;background-color:red;color:white" })

                        @Html.ActionLink("Actualizar", "ConsultarProducto", new
                             { ID_PRODUCTO = item.ID_PRODUCTO }, new { @class = "form-control", @style = "width:80px;height:25px;background-color:orange;color:white" })

                        @*<input type="submit" value="Añadir al Carrito" class="text-center btn2 float-center login_btn">*@

                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<br />
<br />
<br />

@using (Html.BeginForm("AñadirCarrito", "Inventario", FormMethod.Post))
{
    @Html.Hidden("CarritoMsj", (string)ViewBag.Mensaje);

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBoxFor(Model => Model.FirstOrDefault().ID, new { @class = "form-control" })</td>
                <td>@Html.TextBoxFor(Model => Model.FirstOrDefault().CANTIDAD, new { @class = "form-control" })</td>

                <td>
                    <div class="form-group" style="text-align: center;">
                        <input style="background-color:black;color:white" type="submit" value="Añadir al Carrito" class="text-center btn2 float-center login_btn">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}

@section Scripts
{
    <script src="~/Funciones/Inventario.js"></script>
    <script src="~/Funciones/tablas.js"></script>
    <script src="~/Funciones/Prueba.js"></script>
    <script src="~/Funciones/AñadirCarrito.js"></script>
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

}

