@{
    Layout = "~/Views/Shared/Internal_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <br />
    <br />

    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Bienvenido </h3>
        <hr class="bg-dark mb-4 w-125">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/inventory-icon-9.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Inventario</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <input type="button" class="btn btn-primary" value="Llevame al inventario" onclick="@("window.location.href='" + @Url.Action("ConsultarInventario", "Inventario") + "'");" />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/cart-icon-png-1.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Carrito</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <input type="button" class="btn btn-primary" value="Ver carrito" onclick="@("window.location.href='" + @Url.Action("ConsultarCarrito", "Carrito") + "'");" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/two-colour-thin-minimalist-design-volume-1-32-elem/110/01-09-settings-512.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Ajustes</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <input type="button" class="btn btn-primary" value="Ajustes" onclick="@("window.location.href='" + @Url.Action("About", "Home") + "'");" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

</body>
</html>


@*
    -- COMPLETO - En el espacio extra meter ubicacion y configuracion
    -- COMPLETO - Crear un Crud completo para empleados (agregar bootstrap para buscar cosas) (solo visible para el admin)
    -- PROGRESO - Crear Consultar para ver clientes atendidos (tabla debe llevar bootstrap)
     - El boton confirma compra necesita validar que el carrito tenga algo.
     - Validar pagina de confirmar compra ( 1 que se inserte metodo, pago, id empleado y cedula) (2 validar que usuario exista)
     - Agregar bootstrap para paginas de registros
     - Paginas registro solo visibles para los admin (layout)
     - Validar Cambiar contraseña para que no sea vacia
     - Dividir inventario por productos y lavados (otra vista y otro metodo de consultar)
     - Al hacer click en confimar compra redireccionar a inventario (mostrar una alerta de compra exitosa)
     - En configuracion tener una opcion de ver perfil de la sesion que esta activa (talvez agregar foto)

*@